.sidebar {
  width: 250px;
  background-color: #2b2b2b;
  color: #fff;
  padding: 20px;
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.Bleash-heading{
  padding-top: 50px;
}
.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h1 {
  color: #f8df81;
  font-size: 24px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #3e3e3e;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #505050;
}

.sidebar ul li span {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
